*{
    vertical-align: top;
    color:#333665;
}
.menu{
    height: 2vw;
    width: 100%;
    font-size: 2vw;
    font-weight:1vw;
    margin-bottom: 1vw;
    box-shadow: 10px 10px 10px rgba(140,140, 140,0.1);
    position: fixed;
    text-align: right;
    background-color: white;
    padding-top: 2vw;
}
#current{
    border-bottom-color: cornflowerblue;
    border-bottom-width: 0.1vw;
    border-bottom-style: solid;
    color: cornflowerblue;
}

.link{
    font-size: 1.5vw;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2vw;
    padding-bottom: 0.2vw;
}
:hover.link{
    color: cornflowerblue;
}