<br>
<div name="menu" class="menu">
    <div class="example-button-row" class="logout">
        <div class="example-flex-container">
            <button mat-icon-button>
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </div>
    <div class="menu_links">
        <a class="menu_link"  id="current" routerLink="/AdvancedStudy" appChosen routerLinkActiv="active">השתלמויות</a>
        <a class="menu_link" routerLink="/StudentsList" appChosen routerLinkActiv="active">משתתפים</a>
        <a class="menu_link" routerLink="/WaitingsList" appChosen routerLinkActiv="active">רשימת ממתינים</a>
    </div>
</div>