.form{
    height: 100%;
    display: inline-block;
    width:10%;
    padding-bottom: 0.2vw;
}
.c{
    /*color: white;
    background-color: cornflowerblue;
    color-adjust: white;*/
    margin-right: 1vw;
  }
.input{
    border-color: cornflowerblue;
    height: 2.4vw;
    width: 10vw;
    border-width: 0.1vw;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin-right: 1vw;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s
}